---
twitch:
  app-oauth-token: <oauth token>
  app-username: <twitch user>
  initial-channels:
    - streamer
  trusted-users:
    - sometwitchusername
  admins:
    - youprobably
  message-limit: 10

imgur:
  client-id: <imgur-id>
  client-secret: <imgur-secret>
  cache-location: config/

pushbullet:
  key: <pushbullet api key>

twitter:
  access-token: <twitter access token>
  access-token-secret: <twitter access token secret>
  consumer-key: <twitter consumer key>
  consumer-secret: <twitter consumer secret>
  user-id: <streamer user id>

logging:
  level:
    org.springframework: INFO
    de.eternalwings: DEBUG
